<ion-header>
    <ion-navbar>
      <!--<h1 id="counter">Question {{responseMap[step].number}} of 6</h1>-->
      <img alt="logo" height="40" style="float: left; margin-left: 4%;" src="../assets/img/stem.png">
      <img alt="logo" height="40" style="float: right; margin-right: 1%;" src="../assets/img/title.png">
    </ion-navbar>
</ion-header>

<ion-content>
  <h1 *ngIf="results != ''" style="text-align:center;">{{results}}</h1>
  <div class="options">
    <h1 *ngIf="results == ''" id="question">{{responseMap[step].q}}</h1>
    <button *ngIf="results == ''" ion-button large full type="button" class="q-btn" (click)="buttonPressed(1)">{{responseMap[step].r1}}</button>
    <button *ngIf="results == ''" ion-button large full type="button" class="q-btn" (click)="buttonPressed(2)">{{responseMap[step].r2}}</button>
    <button *ngIf="results == ''" ion-button large full type="button" class="q-btn" (click)="buttonPressed(3)">{{responseMap[step].r3}}</button>
    <button *ngIf="results == ''" ion-button large full type="button" class="q-btn" (click)="buttonPressed(4)">{{responseMap[step].r4}}</button>
    <button *ngIf="results == ''" ion-button large full type="button" class="q-btn" (click)="buttonPressed(5)">{{responseMap[step].r5}}</button>
    <button *ngIf="done == true" ion-button color="secondary" (click)="goTo()">See Results</button>
  </div>


      <ion-img style="display: block; margin: auto; width: 60%; height: 55%" src="assets/img/landn.png"></ion-img>
      <progress-bar [progress]="loadProgress"></progress-bar>

  <!--
  <button ion-button (click)="resetQuiz()" class="reset">Reset</button>
  -->
</ion-content>
