<ion-header>
    <ion-navbar>
      <h1 id="counter">Question {{responseMap[step].number}} of 5</h1>
    </ion-navbar>
</ion-header>

<ion-content>
  <h1 *ngIf="results != ''" style="text-align:center;">{{results}}</h1>
  <div class="options">
    <h1 *ngIf="results == ''" id="question">{{responseMap[step].q}}</h1>
    <button *ngIf="results == ''" ion-button large full type="button" class="q-btn" (click)="buttonPressed(1)">{{responseMap[step].r1}}</button>
    <button *ngIf="results == ''" ion-button large full type="button" class="q-btn" (click)="buttonPressed(2)">{{responseMap[step].r2}}</button>
    <button *ngIf="results == ''" ion-button large full type="button" class="q-btn" (click)="buttonPressed(3)">{{responseMap[step].r3}}</button>
    <button *ngIf="results == ''" ion-button large full type="button" class="q-btn" (click)="buttonPressed(4)">{{responseMap[step].r4}}</button>
    <button *ngIf="results == ''" ion-button large full type="button" class="q-btn" (click)="buttonPressed(5)">{{responseMap[step].r5}}</button>
  </div>
  <div class="data">
    <p>Analytics for Debugging (remove this)Math: {{mathCount}} Design: {{designCount}} Coding: {{codeCount}} Cybersecurity: {{cyberCount}} Art: {{artCount}}</p>
  </div>

  <!--
  <button ion-button (click)="resetQuiz()" class="reset">Reset</button>
  -->
</ion-content>
